
.page-content{

    .GetNextPage{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        height: 40px;
        background-color: #fff;
    }
}